<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cy.permissionniubility">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="com.cy.permissionniubility.PermissionActivity"
            android:theme="@style/PermissionNiubility_TranslucentTheme"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
    </application>

</manifest>
